

/*nav{
  height: 100%;
  width: 250px;
  }
*/



.brand-logo{
  border-radius: 2000px;
  width: 200px;
  height: 200px;
}

.row-container {
  display: flex;

  flex-direction: row;
}

#sidebar{

}
#content{

}
