
  <div id="home">
  <h1>Restaurant Edelessen</h1>


  <h3>Willkommen im Restaurant Edelessen – Ihr exklusives kulinarisches Erlebnis in stilvollem Ambiente. </h3>
  <br>
  <p>Lassen Sie sich von unserem einzigartigen Zusammenspiel aus raffinierten Aromen, exquisiter Weinauswahl und erstklassigem Service verzaubern.

  Unser Küchenteam, geleitet von preisgekrönten Chefköchen, kreiert täglich frische, saisonale Gerichte, die Tradition und Innovation harmonisch vereinen. Jedes Gericht ist eine Hommage an die hohe Kunst der gehobenen Küche und wird mit erlesenen, regionalen Zutaten zubereitet. Ob zartes Filet, feiner Fisch oder kreative vegetarische Kompositionen – bei uns erleben Sie Genuss auf höchstem Niveau.

  Unsere edlen Räumlichkeiten bieten das perfekte Ambiente für besondere Anlässe. Ob romantisches Dinner zu zweit, Geschäftsessen oder private Feiern – im Restaurant Edelessen wird jeder Besuch zu einem unvergesslichen Erlebnis.

  <br> <br>
    Begleitet wird Ihr Aufenthalt von einem professionellen Team, das sich mit Herzblut um Ihr Wohl sorgt und Ihren Besuch so angenehm wie möglich gestaltet. Unser erlesenes Weinangebot, sorgfältig ausgewählt von unserem Sommelier, rundet Ihre kulinarische Reise ab.

  <br>
    Wir freuen uns darauf, Sie bald bei uns begrüßen zu dürfen und Sie mit unserer Leidenschaft für die gehobene Küche zu begeistern.</p>

    <hr class="roundedborder">
  <h3>Restaurant Edelessen – wo Luxus und Genuss eins werden. </h3> <br>

  <div id="reserve">
  <a routerLink="/contact">Reservieren Sie noch heute!</a>
  </div>

  <div>
    <button (click)="buttonClicked()">Click me</button>
  </div>

  </div>

